*{
    margin: 0;
    padding: 0;
}

h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
:root{
    background-color:lightblue;
}